{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load my_custom_tags %}
{% block title %} Order {{ verb }} {% endblock title %}
{% block body %}
    <h1>Order detail</h1>
    <div class="row">
      <div class="col-5">
        <b>ID: </b> {{object.pk}} </br>
        <b>user: </b> {{object.user}} </br>
        <b>Book name:</b> {{object.order_bookname.name}} </br>
        <b>Order summ: </b> {{object.summ}} </br>    
        <b>Order currency:</b> {{object.order_currency.name}} </br>
       
        {% a_plus_b 5 5 %}
        {{ object.user|multiplier:3 }}

      </div>  
      <div class="col-2">
      </div>
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <img src="{{object.cover.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{object.order_bookname.name}}</h5>
            <p class="card-text">{{object.order_bookname.author.name}}</p>
            <a href="#" class="btn btn-primary">Go ahead</a>
        </div>
      </div>
    </div>
{% endblock body %}