{% extends "base.html" %}
{% block title %} Order {{ verb }} {% endblock title %}
{% block body %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>User</td>
            <td>summ</td>
            <td>currency</td>
            <td>Actions</td>
        </tr>
        <a href="/applications/order/create/">Create</a>
        {% for obj in object_list %}
        <tr>
            <td><a href="/applications/order/{{ obj.pk }}">{{ obj.pk }}</a></td>
            <td>{{ obj.user }}</td>
            <td>{{ obj.summ }}</td>
            <td>{{ obj.order_currency }}</td>
            <td>
                <a href="/applications/order/update/{{ obj.pk }}">update</a>
                <a href="/applications/order/delete/{{ obj.pk }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock body %}