<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order {{ verb }}</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>User</td>
            <td>summ</td>
            <td>currency</td>
            <td>Actions</td>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td><a href="/applications/order/{{ obj.pk }}">{{ obj.pk }}</a></td>
            <td>{{ obj.user }}</td>
            <td>{{ obj.summ }}</td>
            <td>{{ obj.order_currency }}</td>
            <td><a href="/applications/order/update/{{ obj.pk }}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>