{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load my_custom_tags %}
{% block title %} Order {{ verb }} {% endblock title %}
{% block body %}
    <h1>Order detail</h1>
    <div class="row">
      <div class="col-5">
        <b>ID: </b> {{object.pk}} </br>
        <b>user: </b> {{object.user}} </br>
        <b>Book name:</b> {{object.order_bookname.name}} </br>
        <b>Order summ: </b> {{object.summ}} </br>    
        <b>Order currency:</b> {{object.order_currency.name}} </br>
       
        <!-- добавлены тэги -->
        {% a_plus_b 5 5 %}
        {% currency_value %}

        <!-- добавены запреты на просмотр части страницы пользователем -->

        <!-- отдельные пермишн можно создавать в shell, например, чтобы видеть детейл вью, но не видеть 
        лист вью, создается отдельное правилло (виодео 21  - 01:20:00) -->

        <!-- проверить права можно выводом инфо {{perms.referencec}} -->

        <!-- from django.urls import path, include, reverse_lazy реверы)= -->

        <!-- <a href="{% applications:order_detail object.pk $}" реверс или реверс ссылка -->



        {% if perms.auth.add_group %}
        <H1>mega important content</H1>
        {% endif %}
        {{ object.user|multiplier:3 }}

      </div>  
      <div class="col-2">
      </div>
      <div class="col-5">
        <div class="card" style="width: 18rem;">
          <img src="{{object.cover.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{object.order_bookname.name}}</h5>
            <p class="card-text">{{object.order_bookname.author.name}}</p>
            <a href="/applications/order" class="btn btn-outline-success">Buy in 1 click</a>
        </div>
      </div>
    </div>
{% endblock body %}