{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Author {{ verb }} {% endblock title %}
{% block body %}
    <h1>Author Detail</h1>
    <b>ID: </b> {{object.pk}} </br>
    <b>Author's name: </b> {{object.name}} </br>    
    <b>Author's description:</b> {{object.description}} </br>
    <b>Copyright holder</b> {{object.copyright_holder}} </br>
    
    <table class="table table-striped">
        <tr>
            <td>Select</td>
            <td>Book's name</td>
            <td>Genre</td>
            <td>Quantity</td>
            <td>Price</td>

        </tr>
        <br>

        {% for bookname in author.book_names.all %}
        <tr>
            <td><a href="/directories/bookname/{{ bookname.pk }}" class="btn btn-outline-primary">{{bookname.pk}}</a> </td>
            <td>{{ bookname }}</td>
            <td>{{ bookname.genre }}</td>
            <td> {{ bookname.available_quantity }} </td>
            <td> {{ bookname.price }} </td>

            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}