{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Book Name {{ verb }} {% endblock title %}
{% block body %}
    <h1>Book Name update:</h1>
    <div class="row">
        <div class="col-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </form> 
            <div class="col-2">
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{object.cover.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{object.name}}</h5>
                      <p class="card-text">{{object.author.name}}</p>
                      <!-- <a href="/applications/order" class="btn btn-outline-success">Buy in 1 click</a> -->
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock body %}