{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Book Name {{ verb }} {% endblock title %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <td>Select</td>
            <td>Name</td>
            <td>Author</td>
            <td>Seires</td>
            <td>Genre</td>
            <td>Book type</td>
            <td>Price</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
        <a href="/directories/bookname/create/" class="btn btn-outline-success">Create</a>
        {% for object in object_list %}
        <tr>
            <td><a href="/directories/bookname/{{ object.pk }}" class="btn btn-outline-primary">{{ object.pk }}</a> </td>
            <td>{{ object.name }}</td>
            <td>{{ object.author }}</td>
            <td>{{ object.series }}</td>
            <td>{{ object.genre }}</td>
            <td>{{ object.booktypename }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.description }}</td>
            <td>
                <a href="/directories/bookname/update/{{ object.pk }}" class="btn btn-outline-primary">Update</a>
                <a href="/directories/bookname/delete/{{ object.pk }}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}