{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Book Name {{ verb }} {% endblock title %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Author</td>
            <td>Seires</td>
            <td>Genre</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
        <a href="/directories/bookname/create/" class="btn btn-outline-success">Create</a>
        {% for obj in object_list %}
        <tr>
            <td><a href="/directories/bookname/{{ obj.pk }}" class="btn btn-link">{{ obj.pk }}</a> </td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.author }}</td>
            <td>{{ obj.series }}</td>
            <td>{{ obj.genre }}</td>
            <td>{{ obj.description }}</td>
            <td>
                <a href="/directories/bookname/update/{{ obj.pk }}" class="btn btn-outline-primary">Update</a>
                <a href="/directories/bookname/delete/{{ obj.pk }}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}