<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency {{ verb }}</title>
</head>
<body>
    <h1>Currency update: {{obj.pk}}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="" value={{obj.name}}><br>
        <input type="hidden" name="id" id="" value={{obj.pk}}><br>
        <textarea name="description" cols="30" rows="10">{{ obj.description }}</textarea><br>
        <button type="submit">Update</button>
    </form> 
</body>
</html>