<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency {{ verb }}</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td><a href="/directories/currency/{{ obj.pk }}">{{ obj.pk }}</a></td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.description }}</td>
            <td><a href="/directories/currency/update/{{ obj.pk }}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>