{% extends "base.html" %}
{% block title %} Rating {{ verb }} {% endblock title %}
{% block body %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Rating</td>
            <td>Actions</td>
        </tr>
        <a href="/directories/rating/create/">Create</a>
        {% for obj in object_list %}
        <tr>
            <td><a href="/directories/rating/{{ obj.pk }}">{{ obj.pk }}</a></td>
            <td>{{ obj.name }}</td>
            <td>
                <a href="/directories/rating/update/{{ obj.pk }}">Update</a>
                <a href="/directories/rating/delete/{{ obj.pk }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}