{% extends "base.html" %}
{% block title %} Rating {{ verb }} {% endblock title %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Rating</td>
            <td>Actions</td>
        </tr>
        <a href="/directories/rating/create/" class="btn btn-outline-success">Create</a>
        {% for obj in object_list %}
        <tr>
            <td><a href="/directories/rating/{{ obj.pk }}" class="btn btn-link">{{ obj.pk }}</a> </td>
            <td>{{ obj.name }}</td>
            <td>
                <a href="/directories/rating/update/{{ obj.pk }}" class="btn btn-outline-primary">Update</a>
                <a href="/directories/rating/delete/{{ obj.pk }}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock body %}