{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Order {{ verb }} {% endblock title %}
{% block body %}
    <h3>Order #{{ cart_id }} details</h3>

    <table class="table table-striped">
        <tr>
            <td>Book</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Total price</td>
        </tr>
        {% for good_in_cart in cart.goods.all %}
        <tr>
            <td>{{ good_in_cart.good.name }}</td > 
            <td>{{ good_in_cart.quantity }}</td>
            <td>{{ good_in_cart.price }}</td>
            <td>{{ good_in_cart.total_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total:</td>
            <td>{{ cart.good_quantity }}</td>
            <td></td>
            <td>{{ cart.total_price }}</td>
        </tr>
    </table>
    <br>

    <tr>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="cart_id" value="{{cart_id}}" />
            {{ form | crispy }}
            <a href="{% url 'directories:bookname_list' %}" class="btn btn-outline-primary"><i class="bi bi-book"></i></a>
            <button type="submit" class="btn btn-outline-success"><i class="bi bi-cart3"></i></button>
        </form> 
    </tr>
    <br>


    {% for good_in_cart in cart.user_carts.all %}
        <tr>
            <td>{{ good_in_cart.user_carts.pk }}</td > 
            <td>{{ good_in_cart.user_carts.name }}</td>
        </tr>
        {% endfor %}


{% endblock body %}

