{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Order {{ verb }} {% endblock title %}
{% load my_custom_tags %}

{% block body %}

{% if perms.auth.add_group %}
    <h2>Order to delete:</h2>
    <table class="table table-striped w-50">
        <tr>
            <th>ID:</th>
            <td>{{object.pk}}</td>
        </tr>
        <tr>
            <th>User name:</th>
            <td>{{ object.cart.customer }}</td>
        </tr>
        <tr>
            <th>Delivery adress:</th>
            <td>{{ object.delivery_adress }}</td>
        </tr>
        <tr>
            <th>Email adress: </th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Telephone #:</th>
            <td>{{ object.telephone_number }}</td>
        </tr>
        <tr>
            <th>Total price:</th>
            <td>{{ object.cart.total_price }}</td>
        </tr>
    </table>
    <br>
    <h5>Goods in cart:</h5>

    <table class="table table-striped w-50">
        <tr>
          <th>Book's name:</th>
          <th>Quantity:</th>
          <th>Price:</th>
          <th>Total price:</th>
        </tr>
        {% for i in object.cart.goods.all %}
          <tr>
            <td>{{ i.good }} </td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.total_price }}</td>
          </tr>
        {% endfor %}
      </table>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
    </form> 




{% endif %}
{% endblock body %}
