{% load my_custom_tags %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Book Hub <i class="bi bi-book-half"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a {% if request.resolver_match.route == "directories/bookname/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/directories/bookname">Books</a> 
            </li>
            <li class="nav-item">
              <a {% if request.resolver_match.route == "directories/genre/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/directories/genre">Genres</a> 
            </li>
            <li class="nav-item">
              <a {% if request.resolver_match.route == "directories/author/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/directories/author">Authors</a> 
            </li>
            {% if perms.auth.add_group %}
            <li class="nav-item">
              <a {% if request.resolver_match.route == "#" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/orders/portal_main">Portal</a> 
            </li>
            {% endif %}
            <li class="nav-item">
              <a {% if request.resolver_match.route == "orders/cart/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/orders/cart">Cart</a> 
            </li>
            <!-- <li class="nav-item">
              <a {% if request.resolver_match.route == "admin/" %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="/accs/login">Login</a> 
            </li> -->
            <li class="nav-item"> 
              {{ user|show_user_or_login }}
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true" 
              href="https://api.nbrb.by/exrates/rates/431">BYN/USD {% currency_value %}</a>
            </li>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            
          </form>
        </div>
      </div>
    </nav>
  </header>